{
	"extends" : "protect-me-from-my-stupidity",

	"env" :
	{
		"node"     : true,
		"es6"      : true,
		"commonjs" : true
	},

	"parserOptions" :
	{
		"sourceType" : "script"
	},

	"overrides" :
	[
		{
			"files" : ["src/**/*.js"],

			"rules" :
			{
				"@stylistic/js/quotes" : ["error", "double"]
			}
		}
	],

	"root" : true
}
